---
import Background from "./Background/Background.astro";
import SplashComponent from "./Splash/SplashComponent.astro";
import BackgroundCloud from "./Background/BackgroundCloud.astro";
import Postcard from "./Postcard/Postcard.astro";
---

<div class="main">
    <Background />
    <div class="content">
        <SplashComponent/>
        <div class="firefox-warning">
            <div class="firefox-title">This website is worse on Firefox</div>
            <div class="firefox-subtitle">Best experianced with a Chromium based browser</div>
            <div class="firefox-subtitle">Firefox's performance on this site is much worse for seemingly no reason, along with not having capabilities like scroll() by default.</div>
        </div>
        <div style="width:100vw;height:30vh;background-color:#ffe08c;display:flex;align-items:center;color:black;flex-direction:column;justify-content: center;">
            <div style="font-size:50px;text-align:center;">This website is still UNDER DEVELOPMENT</div>
            <div style="text-align:center;">like nothing is done ;w;<br />Keep that in mind if you are looking !</div>
        </div>
        <Postcard />
        <!-- todo: music thing -->
        <div style="width:100vw;height:70vh;border:2px red solid;"></div>
        <!-- todo: Coding thing -->
        <div style="width:100vw;height:100vh;border:2px pink solid;"></div>
        <!-- todo: art thing -->
        <div style="width:100vw;height:100vh;border:2px purple solid;"></div>
        <div class="footer"></div>
    </div>
</div>
<style> 
    .firefox-warning {
        width: 100vw;
        min-height: 10vh;
        background-color: red;
        display: none;
        align-items: center;
        color: black;
        flex-direction: column;
        padding: 8px;
    }
    .firefox-subtitle {
        text-align: center;
    }
    .firefox-title {
        font-size: 32px;
    }
    @supports (-moz-appearance: none) {
        .firefox-warning {
            display: flex;
        }
	}
</style>

<style is:global>
    @keyframes xendy-parallax-keyframes {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(var(--xendy-parallax, 0));
        }
    }
    .xendy-parallax {
        animation: xendy-parallax-keyframes linear;
        animation-timeline: scroll();
        animation-fill-mode: both;
    }
    
	@supports (-moz-appearance: none) {
        .xendy-parallax {
            animation: none;
        }
	}
    .debug {
    }
    .footer {
        height: 30vh;
        bottom: 0;
        width: 100%;
        background-color: #000000;
        z-index: 0;
    }
    * {
        box-sizing: border-box;
    }
    .main {
        color: white;
    }
    .content {
        overflow-x: hidden;
    }
</style>
