<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Xendy's gay website</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="screen-too-small-warning"> 
			<h1>Failed to render</h1>
			<p>Your screen is too small to properly render this 3: Please zoom out to see this page !!</p>
			<h2>Issues:</h2>
			<div class="screen-too-small-warning-width">
				Screen width less than 320 px !!
			</div>
			<div class="screen-too-small-warning-height">
				Screen height less than 270 px !!
			</div>
		</div>
		<noscript>
			You need javascript to render this !!
		</noscript>
		<div class="silly-main-content"> 
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Lexend', Arial, Helvetica, sans-serif;
	}
	.silly-main-content {
		display: block;
	}
	.screen-too-small-warning {
		display: none;
		padding: 4px;
	}
	.screen-too-small-warning-width {
		display: none;
	}
	.screen-too-small-warning-height {
		display: none
	}
	@media (max-width: 320px) {
		.silly-main-content {
			display: none;
		}
		.screen-too-small-warning {
        	display: flex;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background-color: black;
			color: white;
			flex-direction: column;
			align-items: center;
		}
		.screen-too-small-warning-width {
			display: block;
		}
    }
	@media (max-height: 270px) {
		.silly-main-content {
			display: none;
		}
		.screen-too-small-warning {
        	display: flex;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background-color: black;
			color: white;
			flex-direction: column;
			align-items: center;
		}
		.screen-too-small-warning-height {
			display: block;
		}
    }
</style>
