<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Xendy's website !</title>
		<meta content="Xendy's Website !" property="og:title" />
		<meta content="This is Xendy's very silly website :3" property="og:description" />
		<meta content="https://xendyexe.github.io/" property="og:url" />
		<meta content="https://xendyexe.github.io/fomx.jpg" property="og:image" />
		<meta content="#ff7aac" data-react-helmet="true" name="theme-color" />
		<meta name="description" content="This the main website for Xendy (XendyOS/XendyExe) where she puts a bunch of random stuff.">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="failed-to-render"> 
			<h1>Failed to render</h1>
			<p>I cannot render this website for you ;w;</p>
			<h2>Issues:</h2>
			<div class="screen-too-small-warning-width warning-title">
				Your screen width is less than 320 px !!
			</div>
			<div class="screen-too-small-warning-height warning-title">
				Your screen height is less than 270 px !!
			</div>
			<div class="no-firefox">
				<div class="warning-title">This website does not support firefox</div>
				<strong>This website also uses scroll based animations, which do not work on firefox*</strong><br/>
				Firefox is also <strong>extremely laggy</strong> with framer motion 3: (see: <a href="https://github.com/motiondivision/motion/issues/441">Motion issue 441</a>)<br/>
				Consider switching to chromium ! <br/>
				<strong>If you really wish to continue, click <a id="force-enable" href="">here</a></strong>
				<br/>
				<br/>
				*You may be able to enable scroll based animations in the layout.css.scroll-driven-animations.enabled preference. To change preferences in Firefox, visit about:config
			</div>
			<script>
				document.getElementById("force-enable")!.addEventListener("click", (e) => {
					e.preventDefault();
					document.body.classList.add("ignore-firefox-warning");
				});
			</script>
		</div>
		<noscript>
			You need javascript to render this !!
		</noscript>
		<div class="silly-main-content"> 
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Lexend', Arial, Helvetica, sans-serif;
	}
	.silly-main-content {
		display: block;
	}
	.warning-title {
		font-size:30px
	}
	.failed-to-render {
		display: none;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
		color: white;
		flex-direction: column;
		align-items: center;
		padding: 4px;
	}
	.screen-too-small-warning-width {
		display: none;
	}
	.screen-too-small-warning-height {
		display: none
	}
	.no-firefox {
		text-align: center;
		display: none;
	}
	@media (max-width: 320px) {
		.silly-main-content {
			display: none;
		}
		.failed-to-render {
			display: flex;
		}
		.screen-too-small-warning-width {
			display: block;
		}
    }
	@media (max-height: 270px) {
		.silly-main-content {
			display: none;
		}
		.failed-to-render {
			display: flex;
		}
		.screen-too-small-warning-height {
			display: block;
		}
    }
	@supports (-moz-appearance: none) {
		body:not(.ignore-firefox-warning) .silly-main-content {
			display: none;
		}
		body:not(.ignore-firefox-warning) .failed-to-render {
			display: flex;
		}
		body:not(.ignore-firefox-warning) .no-firefox {
			display: block;
		}
	}
	body.ignore-firefox-warning .no-firefox {
		display: none !important;
	}

</style>
